<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchPage.css}" href="../static/css/searchPage.css">
    <title>Title</title>
</head>
<body>

<input id="file" type="file" name="">
<label for="file"><img id="file-img" src="../static/img/google-plus-party-mode.png" th:src="@{/img/google-plus-party-mode.png}"></i></label>

<!--<div id="main">-->
<!--    <form href="#" th:action="@{/profilePhotoUpload}" method="post"  enctype="multipart/form-data">-->
<!--        <div id="camera">-->
<!--            <input id="file" name="file" type="file"   style="display: inline" onchange="upImg()"/>-->

<!--&lt;!&ndash;                <img th:src="@{/img/cam.png}" src="../static/img/cam.png" alt="上傳圖片" id="img" onclick="file.click()">&ndash;&gt;-->

<!--                <input class="btn-info" type="submit" i value="提交" onclick="file.click()" />-->
<!--        </div>-->

<!--    </form>-->
<!--</div>-->
<script th:src="@{/js/myJs.js}" src="../static/js/myJs.js"></script>

</body>
</html>